*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 204, 102);
}
.content{
    margin: 0 auto;
    margin-top: 40px;
    width: 500px;
    height: 500px;
    background-color: #fff;
}
h1{
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
}
.username, .email, .password, .confirm_password{
    padding-top: 40px;
    padding-left: 10px;
    display: flex;
}
h2{
    font-size: 30px;
}
input{
    font-size: 20px;
    width: 250px;
    text-align: center;
}
.username input, .password input{
    margin-left: 20px;
}
.email input{
    margin-left: 70px;
}
.confirm_password input{
    margin-left: 30px;
}
.submit{
    background-color: coral;
    font-weight: 700;
    width: 100px;
    height: 40px;
    margin-top: 40px;
    margin-left: 200px;
}